
<!-- 
<span class="inverter">
<table>
  <tr>
    <th></th>
    <th>Watts</th>
    <th>Nos</th>
    <th>Total</th>
  </tr>
  <tr> -->
    <!-- <td>Load 1</td>
    <td><input [(ngModel)]="loadOneWatts" #ctrl="ngModel" type="number"></td>
    <td><input type="text" [(ngModel)]="loadOneNos" #ctrl="ngModel" type="number"  ></td> -->
    
<!-- 
    <td>{{ numC }} Watts</td>
  </tr>

  <tr>
      <td>Load 2</td>
      <td><input type="text" ></td>
      <td><input type="text" ></td>
    </tr>

  <tr>
      <td>Load 3</td>
      <td><input type="text" ></td>
      <td><input type="text" ></td>
    </tr>

  <tr>
      <td>Load 4</td>
      <td><input type="text" ></td>
      <td><input type="text" ></td>
    </tr>
</table>
</span> -->
<!-- 
<span>
  <table >
    <tr>
      <td>Power Factor</td>
      <td><input type="number" min="0.1" max="1.0"></td>
      <td>{{ totalResult }}</td>
    </tr>
    <tr>
        <td>Battery Volt</td>
        <td><input type="number" min="0.1" max="1.0"></td>
    </tr>
    <tr>
        <td>Backup Time</td>
        <td><input type="number" min="0.1" max="1.0"></td>
    </tr>
    
  </table>
</span>

<hr> -->
<!-- 
<table >
  <tr>
    <td>Total Power you need:</td>
    <td><input type="text" ></td>
  </tr>
  <tr>
    <td>Required VA of Inverter:</td>
    <td><input type="text" ></td>
  </tr>
  <tr>
      <td>Battery Capacity:</td>
      <td><input type="text" ></td>
  </tr>
</table>

<hr> -->
<!-- <div >
    <button (click)="onClickMe(loadOneWatts, loadOneNos)">Click me!</button>    
</div> -->




















